@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(187, 174, 174);
    background: linear-gradient(to top, rgb(181, 186, 187), rgba(0,0,0,436));
}
/* general styling for all givs with the class .container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100vw;
}
/* heading, the title of the gallery styling */
.first {
    margin-top: 20px;
    background-color: rgb(40, 37, 37);
    border: 3px solid rgb(85, 81, 81);
    border-radius: 0px 10px;
}
.title-font {
    font-family: "Sixtyfour Convergence", sans-serif;
    color: rgb(243, 32, 32);
}
#title {
    /* not add px to paddings because it can break the responsivness */
    /* padding: 10wv; */
    font-size: 3.5rem;
}
#title-add {
    font-size: 2rem;
}
#title, #title-add {
    /* I had to repeat the code from .container because when I add a .container class to it, it places both texts next to each other :( */
    display: flex;
    justify-content: center;
    margin: 5px auto;
    padding: 10px;
}

/* wildlife-link, wildlife-link-btn styling the div, link and hover effect */
#wildlife-link {
    color: white;
}
#wildlife-link-text {
    margin: 10px;
    line-height: 30px;
}
#wildlife-link-btn {
    text-decoration: none;
    color: white;
    background-color: rgb(40, 37, 37);
    border: 3px solid rgb(85, 81, 81);
    border-radius: 0px 10px;
    padding: 5px;
}
#wildlife-link-btn:hover, #wildlife-link-btn a:active {
    font-size: 1.3rem ;
    background-color: rgb(6, 5, 5);
    color: rgb(181, 180, 180);
    border: 4px solid rgb(55, 52, 52);
}

/* object-fit: cover; make the pc fint inside a container but do not deform the image */
.img img {
    object-fit: cover;
    margin-bottom: 2vw;
    width: 98.5%;
    height: 45vw;
}

.flex-col {
    flex-direction: column;
}
.card {
    width: 100%;
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* gallery styling */
#gallery-div {
    display: grid;
    grid-template-areas: 
    "item1 item2 item3" 
    "item4 item5 item6";
}
/* gallery items */
#ithem1 {
    grid-area: item1;
}

#ithem2 {
    grid-area: item2;
}

#ithem3 {
    grid-area: item3;
}

#ithem4 {
    grid-area: item4;
}

#ithem5 {
    grid-area: item5;
}

#ithem6 {
    grid-area: item6;
}

/* resizing content - mobile first content/ breakpoints */
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #gallery-div {
        grid-template-areas:
            "item1" 
            "item2"
            "item3" 
            "item4"
            "item5"
            "item6";
    }
    #cover-img {
        display: none;
    }
    #first {
        font-size: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #gallery-div {
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item6";
    }
    #first {
        font-size: 2.5rem;
    }
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #gallery-div {
        justify-content: center;
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item6";
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #gallery-div {
        grid-template-areas:
            "item1 item2 item3"
            "item4 item5 item6";
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #gallery-div {
        grid-template-areas:
            "item1 item2 item3"
            "item4 item5 item6";
    }
}