@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(187, 174, 174);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-width {
    width: 100vw;
}
#first {
    margin-top: 20px;
    color: rgb(243, 32, 32);
    background-color: rgb(40, 37, 37);
    border: 3px solid rgb(85, 81, 81);
    border-radius: 0px 10px;
    /* not add px to paddings because it can break the responsivness */
    padding: 10wv;
    font-size: 3.5rem;
    font-family: "Sixtyfour Convergence", sans-serif;
}

/* object-fit: cover; make the pc fint inside a container but do not deform the image */
.img img {
    object-fit: cover;
    margin-bottom: 2vw;
    width: 98.5%;
    height: 45vw;
}
.flex-col {
    flex-direction: column;
}
.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
/* gallery styling */
#gallery-div {
    width: 70%;
    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
}
#ithem1{
    grid-area: item1;
}
#ithem2{
    grid-area: item2;
}
#ithem3{
    grid-area: item3;
}
#ithem4{
    grid-area: item4;
}